@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif !important;
}
:root {
  --red-main: #ff0000;
  --red-main-darker: #bf211e;
  --green-main: #27a300;
  --green-main-darker: #008000;
}
.calculadora {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: left;
}
.bloco {
  border: #3a75b4 5px outset;
  width: 70vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 5%;
  margin-bottom: 5%;
}
input {
  height: 45px;
  border: none;
  border-bottom: #3a75b4 2px solid;
  font-size: 20px;
  outline: none;
  margin: 5vh 1vh 0 1vh;
}

.inpCalc {
  height: 7vh;
  width: 20vw;
  color: #224b77;
  font-weight: 500;
}

.inputs {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: -7vw;
  margin-top: -2vh;
}
.insert-data {
  margin-left: -7vw;
  margin-top: -7vh;
}

h4 {
  font-size: 4vh;
  margin-bottom: 4%;
}
h2 {
  font-size: 4.5vh;
  margin-top: 8%;
  margin-bottom: 4%;
}
h1 {
  text-align: center;
  padding-right: 26%;
}

/* BOTÃO TEAM */
/* button {
  border-radius: 4px;
  background-color: var(--green-main-darker);
  border: none;
  text-align: center;
  font-size: medium;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  height: 7vh;
  width: 12vw;
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
} */

/* BOTÃO VERDE */
.bntcomp {
  text-align: center;
  font-size: 1vh;
  padding: 0;
  width: 13vw;
  height: 6.3vh;
  transition: all 0.5s;
  margin: 0;
  margin-top: 6vh;
  margin-left: 1vw;
  box-shadow: 0 0.5vh 0.6vw 0 rgba(0, 0, 0, 0.7);
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #000;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  transition: 0.5s !important;
  cursor: help !important;
}

.div_desconto {
  display: flex;
  height: 30vh;
  width: 63vw;
  background-color: transparent;
  margin-left: -7vw;
  margin-top: -5vh;
  padding: 2vh 2vw;
}

#btnJS {
  margin-top: -45px;
  height: 7vh;
  width: 12vw;
  font-size: smaller;
}
.img_Inovacao {
  width: 50%;
  margin-left: 350px;
}
.firstlineInovacao {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
