* {
  margin: 0;
  padding: 0;
}

.firstline {
  height: 75vh;
  /* width: 100%; */
  display: flex;
  justify-content: left;
  background-image: url(../assets/trabalhoem.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.blocoline {
  height: 109vh;
  display: block;
  flex-direction: row;
  align-items: baseline;
  text-align: justify;
  margin-bottom: 8vh;
  margin-top: 8vh;
}

.titl1 {
  font-size: 4vw !important ;
}

.titl2 {
  font-size: 1.7vw !important ;
}

.txt {
  font-size: 2.8vh;
  font-weight: 420;
  color: rgba(59, 57, 57, 0.774);
}
.blocoline {
  display: flex;
  height: 80vh;
  padding: 5%;
  flex-direction: row;
  justify-content: space-around;
}
.oqueline {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cadline {
  width: 25vw;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.porqueline {
  width: 25vw;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dicas {
  font-size: 20px;
}
/* BOTÃƒO TEAM */

.btnCad {
  border: 2px solid rgb(0, 0, 0);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  height: 7vh !important;
  width: 13vw !important;
}

.btnCad:hover {
  box-shadow: rgba(22, 26, 56, 0.527) 0.5vh 0.5vw;
}
