.cont-login {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  font-family: "Montserrat", sans-serif;
  margin-left: 10vw;
  margin-top: 50px;
  margin-right: 10vw;
}

.titleLogin {
  font-weight: bold;
  font-size: 3vw;
  margin-bottom: 6vh;
}

.paragrafo {
  font-size: 1.4vw;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.1vw;
  margin: 2vw 0 3vw;
}

.buttonFuncionario {
  cursor: pointer !important;
  font-size: 1vw !important;
}

.link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.overlay button {
  border-radius: 20px;
  border: 1px solid #6394ff;
  background-color: #000000;
  color: #ffffff;
  font-size: 1vw;

  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 10vw;
  height: 5vh !important;
}

.buttonFuncionario {
  border-radius: 20px;
  border: 1px solid #6394ff;
  background-color: #000000;
  color: #ffffff;
  font-size: 1vw;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  height: 5vh !important;
  width: 10vw;
}

.buttonFuncionario:active {
  transform: scale(0.95);
}

.buttonFuncionario:focus {
  outline: none;
}
.buttonFuncionario.ghost {
  background-color: #000;
  border-color: rgba(14, 57, 151, 0.795);
}

.formFuncionario {
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  margin-left: 65%;
}

.ipt_cadastroFuncionario {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  height: 3vh;
  /* width: 100%; */
}

.selectCargo {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* height: 3vh; */
  /* width: 100%; */
}

.containerFuncionario {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  height: 100vh;
  margin-bottom: 50px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  margin-right: 50%;
}

.titleLogin {
  margin-top: 40px;
  padding-left: 20%;
}

/*----------- POPUṔ MODAL PERFIL -----------*/

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #3a75b4;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}

.fechar {
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  background: black;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.imgUserModal {
  display: flex;
  width: 10%;
  height: 10%;
}
.ipt_modal {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  height: 3vh;
  /* width: 100%; */
}
.selectCargo {
  margin-left: 300px;
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* height: 3vh; */
  /* width: 100%; */
}

/* ------POPUP MODAL MENSAGEM-------- */

.modal-container-msg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container-msg.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #3a75b4;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}

.fechar {
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  background: black;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.imgUserModal {
  display: flex;
  width: 10%;
  height: 10%;
}
.ipt_modal {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  height: 3vh;
  /* width: 100%; */
}
.selectCargo {
  margin-left: 0px;
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* height: 3vh; */
  /* width: 100%; */
}
