@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  color: #000;
}
nav {
  display: flex;
  justify-content: center;
  width: 98vw;
  background: #fff;
  padding-top: 1%;
  padding-bottom: 1%;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #3a75b4;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

.footerline {
  display: flex;
  height: 17vh;
  padding: 4%;
  border-top: black 1px solid;
}
.caixafooter {
  padding-left: 6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.caixafooter li {
  height: 5vh;
}

li {
  font-size: 1.2vw !important;
}

h1 {
  font-size: 2vw !important ;
}
.cxfooter {
  margin-top: -1vh;
}
.caixafooter h1 {
  margin-bottom: 5%;
}
.caixafooter p {
  font-size: 1.2vw;
  margin-bottom: 5%;
}
.caixafooter img {
  height: 2.6vh;
}
.imgFooter {
  width: 24%;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.imgAirVision {
  width: 10vw;
}
li,
a {
  text-decoration: none;
  list-style: none;
  margin-bottom: 3%;
}
.icons {
  height: 9vh;
  border-top: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

@media (max-width: 480px) {
}
