@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: linear-gradient(to right, #3a75b4, #61a3e9);

  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 50px;
}

.icons {
  width: 30px;
  margin-left: 30%;
  margin-top: 50%;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: linear-gradient(to right, #3a75b4, #61a3e9);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li a {
  position: relative;
  display: block;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 30px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .icons {
  color: #fff;
  font-size: 24px;
}

.navigation ul li a .title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  margin-left: 10px;
}

.ativo {
  color: black;
}

.imgAirVision {
  border-radius: 100%;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 60px);
  left: 60px;
}

.main .topbar {
  width: 100%;
  background: #fff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.iconMenu {
  width: 50%;
  margin-top: 25%;
  margin-left: 25%;
}

.toggle::before {
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 40px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.search label .iconSearch {
  width: 20px;
  position: absolute;
  left: 15px;
  top: 4px;
}

.user {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.msg img {
  position: relative;
  min-width: 50px;
  width: 0px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  grid-gap: 20px;
}

.cardBox .card {
  position: relative;
  background: #fff;
  width: 0%;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .cardGrafico {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 1.4%;
  padding-right: 1.4%;
  background-color: #f6fcff;
  border: solid 5.5px rgb(172, 205, 238);
  border-radius: 4px;
  text-align: center;
}

.card .cardGrafico h4 {
  position: relative;
  color: rgb(78, 78, 78);
  font-size: 12px;
}

#grafico {
  position: absolute;
}

.card .divCardTotens {
  margin-top: 23px;
  margin-left: 23px;
  margin-right: 23px;
  border: solid 4px blue;
}

.divTitulosPainel2 {
  width: 100%;
  color: rgb(78, 78, 78);
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

.divGraficosPainel2 {
  width: 100%;
  display: flex;
  height: 90%;
}

.card .div2CardTotens {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}

.divBotoes1 {
  justify-content: center;
}

.divBotoes2 {
  justify-content: center;
}

.divBotoes3 {
  justify-content: center;
}

.cardBox .card .container_painel {
  display: none;
  width: 95%;
  height: 95%;
  justify-content: center;
  align-items: center;
}

.cabecario_painel {
  color: rgb(78, 78, 78);
  font-style: italic;
  display: flex;
  width: 100%;
  height: 12%;
  transition: 1s;
  align-items: center;
  justify-content: space-between;
  padding-left: 4.1%;
  padding-right: 4.1%;
}

.monitorar_painel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33%;
  align-items: center;
  justify-content: space-around;
}

.monitorar_painel2 {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abas_painel {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.cardBox .card .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}

.cardBox .card .cardName {
  color: #999;
}

.cardBox .card .iconBox {
  font-size: 2.5em;
}

.cardIcon {
  width: 50px;
}

.details {
  height: 520px;
  position: relative;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr, 1fr;
}

.details .recentOrders {
  height: 520px;
  position: relative;
  background: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.imgIconBx {
  width: 50px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: #03a9f4;
  color: #fff;
}

.btnMonitoramento {
  cursor: pointer !important;
  font-size: 1vw !important;
}

.btnMonitoramento {
  border: 1px solid #6394ff;
  background-color: #6394ff;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  transition: transform 80ms ease-in;
  height: 5vh !important;
  width: 15vw;
  margin-top: 20px;
}

.btnMonitoramento:active {
  transform: scale(0.95);
}

.btnMonitoramento:hover {
  border: 1.5px solid #0017493e;
  border-radius: 6px;
  background-color: #2a6effea;
  color: #ffffff;
  font-weight: bolder;
}

.btnMonitoramento:focus {
  outline: none;
}

.buttonFuncionario.ghost {
  background-color: #000;
  border-color: rgba(14, 57, 151, 0.795);
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tbody tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tbody tr:hover {
  cursor: pointer;
  background: #03a9f4;
  color: #fff;
}

/* ALTERA (DISCO, RAM E ID) */
.details .recentOrders table tr td {
  text-align: center;
  padding: 9px 0px;
}

/* ALTERA(STATUS) */
.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
  text-align: center;
}

/* ALTERA (NOME TOTEM) */
.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2) {
  text-align: center;
}

.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table tbody tr td:nth-child(3) {
  text-align: center;
}

.status {
  position: relative;
  padding: 2px 4px;
  background: #f00;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

.statusTotem {
  position: relative;
  height: 20px;
  width: 20px;
  background: #f00;
  color: #fff;
  border-radius: 100%;
}

.delivered {
  background: #8de02c;
  color: #111;
}

.pedding {
  background: #f9ca3f;
}

.return {
  background: #f00;
}

.inprogress {
  background: #1795ce;
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-weight: 600;
    font-size: 18px;
  }

  .details .recentOrders {
    width: 290px;
    overflow-x: scroll;
  }

  .details .recentOrders {
    height: 290px;
    overflow-y: scroll;
  }
}

@media (max-width: 480px) {
  .container {
    width: 600px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle.active {
    position: fixed;
    z-index: 10000;
    right: 0;
    left: initial;
  }

  .toggle.active::before {
    color: #fff;
  }

  .main,
  .main.active {
    width: 100%;
    left: 0;
  }
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgba(248, 248, 248, 0.932);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 18.9px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*----------- POPUṔ MODAL PERFIL -----------*/

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #3a75b4;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}

.fechar {
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  background: black;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.imgUserModal {
  display: flex;
  width: 10%;
  height: 10%;
}

.ipt_modal {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  height: 3vh;
  /* width: 100%; */
}

.selectCargo {
  margin-left: 300px;
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* height: 3vh; */
  /* width: 100%; */
}

.formModal {
  display: flex;
}

.formModal h4 {
  margin-left: 70%;
}

.atualizarDados {
  width: 50%;
}

.divDados {
  display: flex;
}

.atualizarDadosDois {
  width: 50%;
  display: flex;
}

/* ------POPUP MODAL MENSAGEM-------- */

.modal-container-msg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container-msg.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #3a75b4;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}

.fechar {
  cursor: pointer;
  position: absolute;
  font-size: 1.2em;
  top: -30px;
  right: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid white;
  background: black;
  color: white;
  font-family: monospace;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.imgUserModal {
  display: flex;
  width: 10%;
  height: 10%;
}

.ipt_modal {
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  height: 3vh;
  /* width: 100%; */
}

.selectCargo {
  margin-left: 300px;
  background-color: transparent;
  border: none;
  border-bottom: #3a75b4 2px solid;
  padding: 12px 15px;
  margin-bottom: 20px;
  /* height: 3vh; */
  /* width: 100%; */
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  position: relative;
  display: inline-block;
  padding: 3px 10px 3px;
  border-radius: 4px;
  margin-right: 4px;
  border: 1.5px solid rgb(89, 89, 89);
  background-color: rgb(88, 100, 100);
  cursor: pointer;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu a:hover {
  border: 1.5px solid rgb(115, 115, 115);
  background-color: rgb(61, 70, 70);
  color: rgb(248, 248, 248);
}

.menu a:active {
  transform: scale(0.95);
}

article {
  height: 100%;
  width: 100%;
  position: relative;
}

section {
  transition: 0.4s;
  position: absolute;
  padding: 8px;
  border: 3px solid rgb(210, 210, 210);
  border-radius: 2px;
  background: rgb(239, 239, 239);
  width: 100%;
  height: 100%;
  z-index: 0;
}

section.active {
  z-index: 1;
}

/* Target cria a referência do elemento clicado */
section:target {
  z-index: 2
}