@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

:root {
  --red-main: #000000;
  --red-main-darker: #bf211e;
  --green-main: #3a75b4;
  --green-main-darker: #3a75b4;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 90vw;
  margin-left: 5vw;
}

.container .info {
  flex-direction: column;
}

.bloco {
  border-radius: 2%;
  border: var(--green-main-darker) 5px outset;
  height: 70vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  width: 30vw;
  height: 46vh;
}

.sup {
  justify-content: left;
  background-image: url(../assets/Active\ Support-cuate.svg);
  background-size: 118%;
  background-position: center;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
}

.textostart {
  width: 40vw;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  font-size: 1.2vw;
}
